!!!
%html
  %head
    = stylesheet_link_tag 'style'
    = javascript_include_tag 'jquery-1.4.2'
    = javascript_include_tag 'application.js'
    = javascript_include_tag @add_js if @add_js
  %body
    #contentWrapper
      #hdr
      #topNav
      #tagCloud.right
        %p here they be tags
      #rinfo.right.clr
        %p here they be other info, yar
      #main
        = yield
      #ftr.clr
        %p here be a copyright to Capt. Phil Eberhardt
